.hero{
    display: flex;
    width: 100%;
    height: 647px;
    background-color: #18191A;
    padding-top: 107px;
}

.hero__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__left-content{
    width: 53%;
    flex-direction: column;
    padding-top: 30px;
}

.hero__left-blog{
    width: 106px;
    height: 59px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */


    /* white */

    color: #FFFFFF;

}

.hero__left-bigBlog{
    width: 169px;
    height: 94px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 94px;
    /* identical to box height */
    background: linear-gradient(108.03deg, #2D88FF 0%, #AB4AE7 51.04%, #D14AE7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.hero__left-blogContent{
    width: 464px;
    height: 108px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    /* or 150% */


    /* white */

    color: #FFFFFF;
}

.hero__left-btnRegeister{
    position: absolute;
    width: 180px;
    height: 44px;
    /* blue */
    background: #2D88FF;
    border-radius: 10px;   

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}