.category {
  display: flex;
  width: 100%;
  height: 700px;
  padding-top: 107px;
}

.category__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__left-contentWrap {
  width: 600px;
  height: 389px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.category__left-content {
  width: 53%;
  flex-direction: column;
  padding-top: 30px;
}

.category__left-blogContent {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  /* white */
  color: #ffffff;
}

.category__left-bigBlog {
  width: 336px;
  height: 94px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 94px;
  /* identical to box height */

  /* gradient */

  background: linear-gradient(
    108.03deg,
    #2d88ff 0%,
    #ab4ae7 51.04%,
    #d14ae7 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}
