.block {
  padding: 24px 40px;
  background-color: #3a3b3c;
  font-size: 1.4rem;
  border-radius: 20px;
  margin-top: 20px;

  &-title {
    font-weight: 500;
    color: white;
    margin-top: 10px;
    text-align: center;
  }

  &-content {
    color: white;
    margin-top: 10px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }

  &-link {
    color: #2d88ff;
    cursor: pointer;
    text-decoration: underline;
  }
}
